@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Roboto:ital,wght@1,100;1,400;1,900&family=Rubik&family=Sofia+Sans+Condensed:ital,wght@1,1;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
  /* transform: all 4s; */
}

a {
  text-decoration: none;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-family: "Bebas Neue", sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background-color: green;
  color: white;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: bolder;
  color: white;
}

.oforkile {
  color: green;
  margin-top: 40px;
}

.jonah {
  color: black;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;

  color: white;
}

.copywriter-div {
  background-color: green;
  width: 80%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
}

.preview-div {
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 3px solid red; */
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.testimonial-photo {
  border-radius: 50%;
  width: 200px;
}

.testimonial-div {
  width: 80%;
  text-align: left;
  margin-top: 20px;
}

#testimonial {
  color: black;
}

.testimonial-text-div {
  width: 80%;
  text-align: left;
  margin-top: 15px;
}

.testimonial-text {
  font-family: "Nunito", sans-serif;
}

.seo-div {
  width: 80%;
  text-align: left;
  margin-top: 15px;
}

.seo-ss {
  width: 100%;
  margin-top: 13px;
}

figcaption {
  font-family: "Sofia Sans Condensed", sans-serif;
}

.testimonial-text2 {
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
}

.testimonial-text3 {
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
}

.testimonial-text4 {
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
}

.text4-imgcaption {
  margin-bottom: 20px;
}

footer {
  border-top: 1px solid green;
  color: black;
  font-family: "Sofia Sans Condensed", sans-serif;
  margin-bottom: 5px;
}

.footer {
  border-top: 1.5px solid green;
  margin-top: 2px;
}

.writings {
  margin-top: 8px;
}

.button {
  float: right;
  color: white;
  background-color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: "Sofia Sans Condensed", sans-serif;
}
